<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <b>Content:</b>
			  <%= @Community_Specific.Content %>
			</p>

			<p>
			  <%= @Community_Specific.description %>
			</p>
			<%= link_to 'Edit', edit_Community_Specific_path(@Community_Specific) %> |
			<%= link_to 'Back', Community_Specifics_path %>
		</div>
	</div>
</div>