<h1>About Us</h1>
<p>
	A science nerd at heart, after working in the high-tech and creative fields, Alex decided to use her knowledge of effective communication and 3D scanning to help empower homeowners to have greater control over and understanding of home maintenance and financial concerns.  
</p>