<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @specific.description %>
            </p>
            <%= link_to 'Edit', edit_specific_path(@specific) %> |
            <%= link_to 'Back', specifics_path %>
        </div>
    </div>
</div>
